* {
    margin: 0;
    box-sizing: border-box;
}

.form-search { 
    background-color: white;
    height: 40px;
    width: 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: 0.5px solid lightslategray;
}

.input-search { 
    background-color: white;
    border: none;
    height: 100%; 
    width: 100%;   
    border-radius: 5px;
    padding-left: 10px;
}

.input-search:focus-visible {
    outline: none;
}



.button-clear, .button-search{
    background-color: white;
    height: 100%;
    border: none;
    border-radius: 5px;
}

.button-clear {
    display: none;
}

.button-search img:hover, .button-clear img:hover {
    width: 22px;
}

header {
    width: 100vw;
    height: 100px;
    /* background-color: lightgrey; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}


.img {
    width: 200px;
    height: 300px;
    background-color: lightgray;
}

.infos {
    width: 200px;
    background-color: lightslategray;
}

.product {
    margin: 5px;
}


main {
    display: flex;
    width: 100vw;
    height: 100vh;
}
    
    
.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* background-color: aqua; */
}

.filters {
    background-color: lightslategray;
    width: 100px;
    height: 50%;
    border: 1px solid black;
}