* {
    margin: 0;
    box-sizing: border-box;
}

.form-search { 
    background-color: white;
    height: 40px;
    width: 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.input-search { 
    background-color: white;
    border: none;
    height: 100%; 
    width: 100%;   
    border-radius: 5px;
    padding-left: 10px;
}

.input-search:focus-visible {
    outline: none;
}



.button-clear, .button-search{
    background-color: white;
    height: 100%;
    border: none;
    border-radius: 5px;
}

/* .button-clear {
    display: none;
} */

.button-search img:hover, .button-clear img:hover {
    width: 28px;
}

header {
    width: 100vw;
    height: 100px;
    background-color: lightgrey;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.img {
    width: 200px;
    height: 300px;
    background-color: lightgray;
}

.infos {
    width: 200px;
    background-color: lightslategray;
}

.product {
    margin: 5px;
}

